<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c70d8ec7-9c70-4cf6-bf04-92bfc6b01a4d/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/FreshenerShopSDM20220525163306</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://freshenershopsdm20220525163306.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>freshenershopsdm20220525163306.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FreshenerShopSDM20220525163306</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$FreshenerShopSDM20220525163306</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AzureDb" Order="1" Enabled="True">
          <Destination Path="Data Source=freshenershopsdm2dbserver.database.windows.net;Initial Catalog=FreshenerShopSDM_db2;User ID=ParALI;Password=!1Admin!1Admin;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FreshenerShopSDM.Models.ApplicationDbContext, FreshenerShopSDM" MigrationConfiguration="FreshenerShopSDM.Migrations.Configuration, FreshenerShopSDM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=freshenershopsdm2dbserver.database.windows.net;Initial Catalog=FreshenerShopSDM_db2;User ID=ParALI;Password=!1Admin!1Admin;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FreshenerShopSDM-20220401092051.mdf;Initial Catalog=aspnet-FreshenerShopSDM-20220401092051;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FreshenerShopSDM-20220401092051.mdf;Initial Catalog=aspnet-FreshenerShopSDM-20220401092051;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AzureDb-Web.config Connection String">
      <ParameterValue>Data Source=freshenershopsdm2dbserver.database.windows.net;Initial Catalog=FreshenerShopSDM_db2;User ID=ParALI;Password=!1Admin!1Admin;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=freshenershopsdm2dbserver.database.windows.net;Initial Catalog=FreshenerShopSDM_db2;User ID=ParALI;Password=!1Admin!1Admin;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>